{
  "extends": [
    "sanity",
    "prettier",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["react"],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "rules": {"strict": 0, "complexity": ["warn", 15]},
  "settings": {
    "react": {
      "version": "16.13"
    }
  }
}
